<ion-view title="Home Page" hide-back-button="true" id="page2">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-slides disable-side-menu-drag="" options="options" slider="data.slider" delegate-handle="slider1" id="homePage-slider1" style="width:100%;height:200px;">
      <ion-slide-page id="homePage-slide24" options="options" style="background:url(&quot;img/avfsZwJT9WGsBj982ul1_kitten1.jpg&quot;) no-repeat center;background-size:cover;">
        <h1 id="homePage-heading2" style="color:#000000;text-align:center;" class="slide-heading">Heading</h1>
      </ion-slide-page>
      <ion-slide-page id="homePage-slide25" style="background:url(&quot;img/gHd5vedGQJu4s4qsPQvr_kitten2.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="homePage-slide26" style="background:url(&quot;img/WE6rB9dZRTiIWQlP5qsA_kitten3.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
    <div id="homePage-container21" class="row remove-all">
      <div id="homePage-container22" class="col col-50 remove-all">
        <div id="homePage-container24" class="row responsive-sm remove-all">
          <div id="homePage-container25" class="col col-50 remove-all">
            <ion-list id="homePage-list20">
              <ion-item id="homePage-list-item44" class="item-borderless home-tile">Item</ion-item>
            </ion-list>
          </div>
          <div id="homePage-container26" class="col col-50 remove-all">
            <ion-list id="homePage-list21">
              <ion-item id="homePage-list-item45" class="item-borderless home-tile">Item</ion-item>
            </ion-list>
          </div>
        </div>
      </div>
      <div id="homePage-container23" class="col col-50 remove-all">
        <div id="homePage-container27" class="row responsive-sm remove-all">
          <div id="homePage-container28" class="col col-50 remove-all">
            <ion-list id="homePage-list19">
              <ion-item id="homePage-list-item43" class="item-borderless home-tile">Item</ion-item>
            </ion-list>
          </div>
          <div id="homePage-container29" class="col col-50 remove-all">
            <ion-list id="homePage-list18">
              <ion-item id="homePage-list-item42" class="item-borderless home-tile">Item</ion-item>
            </ion-list>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>