<ion-view title="Home Page" hide-back-button="true" id="page2">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div id="homePage-container95" class="full-width header">
      <div>
        <img src="img/5V8u0PeuRGqaxMmsc01W_SUGeneralLogo-Squared-w-BlackBorder.png" style="display: block; width: auto; height: 24px; margin-left: auto; margin-right: auto;">
      </div>
      <p>&nbsp;Derby College Students' Union</p>
    </div>
    <div class="spacer" style="width: 748px; height: 27px;"></div>
    <div id="homePage-container30" class="grid-container outline">
      <div id="homePage-container32" class="grid-row">
        <div id="homePage-container33" class="grid-col-1 grid-col-3-md grid-col-1-sm">
          <ion-list id="homePage-list6" class="cat-buttons">
            <ion-item id="homePage-list-item19" class="cat-orange">Your Union</ion-item>
          </ion-list>
        </div>
        <div id="homePage-container38" class="grid-col-1 grid-col-3-md grid-col-1-sm">
          <ion-list id="homePage-list10" class="cat-buttons">
            <ion-item id="homePage-list-item25" class="cat-pink">Reps</ion-item>
          </ion-list>
        </div>
        <div id="homePage-container36" class="grid-col-1 grid-col-3-md grid-col-2-sm">
          <ion-list id="homePage-list8" class="cat-buttons">
            <ion-item id="homePage-list-item22" class="cat-yellow">Democracy</ion-item>
          </ion-list>
        </div>
        <div id="homePage-container94" class="grid-col-1 grid-col-3-md grid-col-2-sm">
          <ion-list id="homePage-list14" class="cat-buttons">
            <ion-item id="homePage-list-item29" class="cat-red">Activities</ion-item>
          </ion-list>
        </div>
        <div id="homePage-container93" class="grid-col-1 grid-col-3-md grid-col-2-sm">
          <ion-list id="homePage-list12" class="cat-buttons">
            <ion-item id="homePage-list-item27" class="cat-green">Help &amp; Advice</ion-item>
          </ion-list>
        </div>
        <div id="homePage-container37" class="grid-col-1 grid-col-3-md grid-col-2-sm">
          <ion-list id="homePage-list9" class="cat-buttons">
            <ion-item id="homePage-list-item24" class="cat-blue">Contact Us</ion-item>
          </ion-list>
        </div>
      </div>
    </div>
    <div class="spacer" style="width: 748px; height: 25px;"></div>
    <ion-slides disable-side-menu-drag="" options="options" slider="data.slider" delegate-handle="slider1" id="homePage-slider1" style="max-width:200px;width:100%;height:200px;">
      <ion-slide-page id="homePage-slide24" options="options" style="background:url(&quot;img/avfsZwJT9WGsBj982ul1_kitten1.jpg&quot;) no-repeat center;background-size:cover;">
        <h1 id="homePage-heading2" style="color:#000000;text-align:center;" class="slide-heading">Heading</h1>
      </ion-slide-page>
      <ion-slide-page id="homePage-slide25" style="background:url(&quot;img/gHd5vedGQJu4s4qsPQvr_kitten2.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="homePage-slide26" style="background:url(&quot;img/WE6rB9dZRTiIWQlP5qsA_kitten3.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
    <div class="spacer" style="width: 748px; height: 32px;"></div>
    <div id="homePage-container96" class="grid-container outline">
      <div id="homePage-container97" class="grid-row">
        <div id="homePage-container98" class="grid-col-1 grid-col-sm-hidden grid-col-md-hidden">
          <ion-list id="homePage-list15" class="cat-buttons">
            <ion-item id="homePage-list-item30" class="cat-red">Item</ion-item>
          </ion-list>
        </div>
        <div id="homePage-container99" class="grid-col-4 grid-col-2-sm grid-col-4-md">
          <div>
            <h5>Your student experience is much more than just going to your lectures and club nights. The Activities Section is here to help you find everything you need to make the most of your time at University and beyond.</h5>

            <p>Whether it be trying new activities and making new friends through one of our Give it a Go sessions to getting to know your local community and building your employability skills though our Volunteering projects, or fundraising for your favourite
              charity with RAG to presenting your own radio show the Activities Section has something for you!</p>

            <p>We also offer a variety of training sessions through the year helping you to build and develop on your existing skills, as well as running the Futures Award to reward and recognise anyone that is involved in any of the activities that you
              take part in through the Students’ Union.</p>
          </div>
        </div>
        <div id="homePage-container100" class="grid-col-1 grid-col-2-sm grid-col-2-md">
          <ion-list id="homePage-list17" class="cat-buttons">
            <ion-item id="homePage-list-item32" class="cat-red">More Activities</ion-item>
          </ion-list>
        </div>
      </div>
    </div>
    <div id="homePage-container111" class="full-width button-bar">
      <div>
        <a class="button">DCSU Staff</a>
        <a class="button">T &amp; C's</a>
        <a class="button">Complaints</a>
        <a class="button">Advertise</a>
      </div>
    </div>
    <div id="homePage-container105" class="grid-container outline">
      <div id="homePage-container104" class="full-width footer grid-row">
        <div id="homePage-container101" class="grid-col-2 grid-col-2-sm grid-col-3-md">
          <div>
            <h6>Derby College Students' Union</h6>
            <p>
              <small>Roundhouse Road
                <br>Pride Parkway
                <br>Derby
                <br>DE24 8JE</small>
            </p>
            <br>
            <p>
              <small>Tel: +44 (0) 1332 387488</small>
            </p>
            <br>
            <h6>Opening Hours:</h6>
            <p>
              <small>Mon - Fri 10am - 3pm</small>
            </p>
          </div>
        </div>
        <div id="homePage-container102" class="grid-col-2 grid-col-sm-hidden grid-col-3-md">
          <creator-map-component options="{&quot;disableDefaultUI&quot;:true,&quot;draggable&quot;:false}" marker="true" location="Derby College Students" union,="" roundhouse="" road,="" derby,="" de24="" 8je
            '="" zoom="14" style="display:block;position:relative;width:100%;height:250px;"><ui-gmap-google-map ng-if="map.center" center="map.center" zoom="map.zoom" options="map.options"><ui-gmap-marker coords="map.marker.coords" idkey="map.marker.id" options="map.marker.options"></ui-gmap-marker></ui-gmap-google-map></creator-map-component></div><div id="homePage-container103" class="grid-col-2 grid-col-sm-hidden grid-col-md-hidden"><ion-list id="homePage-list18" class="cat-buttons"><ion-item id="homePage-list-item31" class="cat-red">More Activities</ion-item></ion-list></div></div></div></ion-content></ion-view>