<ion-view title="Home Page" hide-back-button="true" id="page2">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-slides disable-side-menu-drag="" options="options" slider="data.slider" delegate-handle="slider1" id="homePage-slider1" style="width:100%;height:200px;">
      <ion-slide-page id="homePage-slide24" options="options" style="background:url(&quot;img/avfsZwJT9WGsBj982ul1_kitten1.jpg&quot;) no-repeat center;background-size:cover;">
        <h1 id="homePage-heading2" style="color:#000000;text-align:center;" class="slide-heading">Heading</h1>
      </ion-slide-page>
      <ion-slide-page id="homePage-slide25" style="background:url(&quot;img/gHd5vedGQJu4s4qsPQvr_kitten2.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="homePage-slide26" style="background:url(&quot;img/WE6rB9dZRTiIWQlP5qsA_kitten3.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
    <div id="homePage-container30" class="grid-container outline">
      <div id="homePage-container32" class="grid-row">
        <div id="homePage-container33" class="grid-col-1 grid-col-3-md grid-col-1-sm">
          <ion-list id="homePage-list6">
            <ion-item id="homePage-list-item19">Item</ion-item>
          </ion-list>
        </div>
        <div id="homePage-container38" class="grid-col-2 grid-col-3-md grid-col-1-sm">
          <ion-list id="homePage-list10">
            <ion-item id="homePage-list-item25">Item</ion-item>
          </ion-list>
        </div>
        <div id="homePage-container36" class="grid-col-2 grid-col-3-md grid-col-2-sm">
          <ion-list id="homePage-list8">
            <ion-item id="homePage-list-item22">Item</ion-item>
          </ion-list>
        </div>
        <div id="homePage-container37" class="grid-col-1 grid-col-3-md grid-col-2-sm">
          <ion-list id="homePage-list9">
            <ion-item id="homePage-list-item24">Item</ion-item>
          </ion-list>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>