<ion-view title="Order Page" id="page8">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="orderPage-card21">
      <ion-item class="item-thumbnail-left" id="orderPage-list-item9">
        <img src="{{gravImg}}">
        <h2>Order #{{data.number}}</h2>
        <p>
          <small>{{data.shipping__first_name}} {{data.shipping__last_name}}
            <small>
              <br>Deliver to: {{data.customer_note}}</small>
          </small>
        </p>
      </ion-item>
      <ion-item class="item-divider" id="orderPage-list-item-divider1"> Items Ordered</ion-item>
      <ion-item id="orderPage-list-item11" ng-repeat="item in items">{{item.name}}
        <small>x {{item.quantity}}</small>
        <span class="item-note">£{{item.total}}</span>
      </ion-item>
      <ion-item class="item-divider" id="orderPage-list-item-divider2"> Order Details</ion-item>
      <div class="item item-body" id="orderPage-list-item-container3">
        <div id="orderPage-markdown6" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Discounted Amount: £{{data.discount_total}}</p>

          <p style="color:#000000;">Total: £{{data.total}}</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>