<ion-view title="Order Page" cache-view="false" id="page8">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="orderPage-card21" ng-if="order">
      <ion-item class="item-thumbnail-left item-icon-right" id="orderPage-list-item9" href-inappbrowser="http://shop.dcsu.co.uk/wp-admin/post.php?post={{order.id}}&amp;action=edit">
        <img src="{{gravImg}}">
        <h2>Order #{{order.number}}</h2>
        <p>
          <small>{{order.shipping.first_name}} {{order.shipping.last_name}}
            <small>
              <br>Deliver to: {{order.customer_note}}</small>
          </small>
        </p>
        <small>
          <small>
            <i class="icon ion-ios-redo-outline"></i>
          </small>
        </small>
      </ion-item>
      <ion-item class="item-divider" id="orderPage-list-item-divider1"> Items Ordered</ion-item>
      <ion-item id="orderPage-list-item11" ng-repeat="item in order.line_items track by $index" ng-click="toggleStatus($index)" style="{{getColor($index)}}">
        <small ng-bind-html="item.name +' x'+ item.quantity"></small>
        <span class="item-note">£{{item.total}}</span>
      </ion-item>
      <ion-item class="item-divider" id="orderPage-list-item-divider4" ng-if="order.coupon_lines"> Coupons Used</ion-item>
      <ion-item id="orderPage-list-item16" ng-repeat="coupon in order.coupon_lines">{{coupon.code}}
        <span class="item-note">{{coupon.discount}}</span>
      </ion-item>
      <ion-item class="item-divider" id="orderPage-list-item-divider2"> Order Details</ion-item>
      <div class="item item-body" id="orderPage-list-item-container3">
        <div id="orderPage-markdown6" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Discounted Amount: £{{order.discount_total}}</p>

          <p style="color:#000000;">Total: £{{order.total}}</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>