<ion-view title="Shop" id="page3">
  <ion-content padding="true" class="has-header">
    <div id="shop-markdown10" class="show-list-numbers-and-dots">
      <p style="color:#FA0000;">Under Construction - no orders will be honoured until the shop has gone live.</p>
    </div>
    <ion-list id="shop-list2">
      <ion-item id="shop-list-item17" ui-sref="tabsController.productSections({&quot;category&quot;:&quot;&quot;+category.key+&quot;&quot;})" ng-repeat="category in shop.categories track by $index">{{category.name}}</ion-item>
    </ion-list>
  </ion-content>
</ion-view>