<ion-view title="Signup" hide-nav-bar="true" hide-back-button="true" cache-view="false" nav-transition="none" id="page6">
  <ion-content padding="true" style="background: url(img/fEzXW7l5SOezBbL7YO1m_Dulux20Trade20-20The20Roundhouse20Derby20College.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding" scroll="false">
    <form id="signup-form2" class="list center-form">
      <div>
        <img src="img/5V8u0PeuRGqaxMmsc01W_SUGeneralLogo-Squared-w-BlackBorder.png" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="height: 20px;"></div>
      <label class="item item-input" id="signup-input10">
        <span class="input-label">Your name</span>
        <input type="text" placeholder="Name" ng-model="userdetails.name">
      </label>
      <label class="item item-input" id="signup-input6" ng-if="userdetails.staffLogon == false">
        <span class="input-label">College ID</span>
        <input type="text" placeholder="College ID" ng-model="userdetails.collegeid">
      </label>
      <label class="item item-input" id="signup-input8" ng-if="userdetails.staffLogon == true">
        <span class="input-label">Username</span>
        <input type="text" placeholder="Username" ng-model="userdetails.collegeid">
      </label>
      <label class="item item-input" id="signup-input7">
        <span class="input-label">Password</span>
        <input type="password" placeholder="Password" ng-model="userdetails.password">
      </label>
      <ion-toggle toggle-class="toggle-positive" id="signup-toggle4" ng-model="userdetails.staffLogon" class="toggler">Staff Signup?</ion-toggle>
      <div class="spacer" style="height: 20px;"></div>
      <div id="signup-markdown9" ng-if="loginError !== ''" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#FF0000;font-size:14px;">{{loginError}}</p>
      </div>
      <button id="signup-button3" ng-click="signup()" class="button button-positive button-block">Signup</button>
      <a ui-sref="login()" id="signup-button4" style="font-weight:500;color:#FFFFFF;" class="button button-light button-block button-clear">Already have an account?</a>
    </form>
  </ion-content>
</ion-view>